.bookings-container{
    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-header {
    display: grid;
    grid-template-columns: 4fr 3fr 5fr 4fr;
    height: 40px;

    background: rgba(217, 217, 217, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0px 0px;

    align-items: center;
    padding-left: 36px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}

.table-header p:nth-child(1){
    padding-left: 16px;
}

.booking-data {
    display: grid;
    grid-template-columns: 4fr 3fr 5fr 4fr;
    height: 48px;
    width: 100%;

    align-items: center;

    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 28px 0 0 24px;
}

.booking-name-container {
    display: flex;
    align-items: center;
    /* padding-left: 16px; */
    gap: 16px;
}

#booking-user-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-name {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

    color: #242E42;
}

.booking-date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    /* identical to box height, or 130% */
    
    letter-spacing: -0.5px;
    text-transform: uppercase;
    /* padding-left: 16px; */
}

.booking-details {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;  
    color: #242E42;
    /* padding-left: 16px; */
}

.booking-payment-mode {
    width: fit-content;
    padding: 4px 12px;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    /* margin-left: 24px; */
    /* margin-right: 16px; */
    
    color: #FFFFFF;
}

.online {
    background: #35DBA2;
}

.offline {
    background: #FFCA28;
}

.booking-data:nth-last-child(1) {
    padding-bottom: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
}

/* -------------------------------------------------------- */
/* Responsive styles */
/* -------------------------------------------------------- */
@media only screen and (max-width: 1700px) {
    .bookings-container {
        width: 60%;
    }
}

@media only screen and (max-width: 1440px) {
    .bookings-container {
        width: 70%;
    }
}

@media only screen and (max-width: 1300px) {
    .bookings-container {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .bookings-container {
        width: 90%;
    }

    .table-header {
        padding-left: 32px;
        font-size: 12px;
    }
    
    .table-header p:nth-child(1){
        padding-left: 12px;
    }
    
    .booking-data {
        padding: 24px 0 0 20px;
    }
    
    .booking-name-container {
        gap: 12px;
    }
    
    #booking-user-icon {
        width: 24px;
        height: 24px;
    }
    
    .booking-name {
        font-size: 13px;
    }
    
    .booking-date {
        font-size: 11px;
    }
    
    .booking-details {
        font-size: 13px;
    }
    
    .booking-payment-mode {
        width: fit-content;
        padding: 4px 10px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .bookings-container {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .bookings-container {
        width: 100%
    }
}